
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSelect</title>
</head>
<body>
    <div> 
        <h1>Welcome to the IN710 Dog Selector</h1>
        <h2>We will help you choose the perfect dog</h2>

        <form>
            <p>Must be good with children</p>
            <input type="radio" name="yes">Yes<br>
            <input type="radio" name="no">No<br><br>

            <p>Drooling</p>
            <input type="radio" name="yes">Don't Mind<br>
            <input type="radio" name="no">No Slobbering<br><br>

            <p>Coat Length</p>
            <input type="radio" name="short">Short<br>
            <input type="radio" name="medium">Medium<br>
            <input type="radio" name="long">Long<br><br>



        </form>
    </div>
</body>
</html>
